.app-page.page-about
	.about-item
		.title How can i get this coin?
		.text Register to the community coin distribution (for free)
	.about-item
		.title When will the community coin distribution start?
		.text 01/01/2019
	.about-item
		.title When will the community coin distribution end?
		.text 01/01/2020
	.about-item
		.title When the network will be activate?
		.text 01/01/2020
	.about-item
		.title What is the circulating supply?
		.text 1,000,000,000,000,000,000 coins (1,000,000,000 vex)
	.about-item
		.title How many coins 1vex worth?
		.text 1vex = 1,000,000,000 coins
	.about-item
		.title Can i mine vex?
		.text No, vex can not be mined
	.about-item
		.title How the coins will be distributed?
		.text Half of the coins will distributed to the community (for free) and the other half will go to the developers fund