.item-header {
	padding: 16px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #F5F5F5;
	.logo {
		height: 150px;
		margin-right: 16px;
	}
	.menu-items {
		display: inline-block;
		height: 150px;
		line-height: 150px;
		vertical-align: top;
		.menu-item {
			display: inline-block;
			border: 1px solid black;
			background-color: white;
			width: 125px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			margin-right: 8px;
			margin-left: 8px;
		}
	}
}