.app-page.page-exchanges
	.exchange-list
		.exchange-item Binance - x
		.exchange-item Bitfinex - x
		.exchange-item OKEx - x
		.exchange-item Huobi - x
		.exchange-item Kraken - x
		.exchange-item HitBTC - x
		.exchange-item Upbit - x
		.exchange-item ZB.COM - x
		.exchange-item CoinBene - x
