.app-page.page-github
	.github-block
		.title Libraries
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-js') vex-lib-js
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-go') vex-lib-go
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-java') vex-lib-java
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-swift') vex-lib-swift
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-csharp') vex-lib-csharp
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-py') vex-lib-py
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-lib-php') vex-lib-php
	.github-block
		.title Docs
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-docs') vex-docs
	.github-block
		.title Site
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-site') vex-site
	.github-block
		.title Explorers
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-explorer') vex-explorer
	.github-block
		.title Wallets
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-wallet') vex-wallet
	.github-block
		.title Node
		a.github-link(target="_blank", href='https://github.com/vex-coin/vex-node') vex-node